ul > li {
	padding-top: 10px;
	font-family: 'Marcellus SC', serif;
}

.navbar-brand {
	float: left;
	margin-top: 10px;
	font-family: 'Marcellus SC', serif;
}

.navbar-toggle {
	margin-top: 17px;
}

#content {
	margin-top: 70px;
	background-color: AliceBlue;
}












canvas {
    width: 100%;
    border: solid;
}

.btn-primary{
    background-color: #333;
}